* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #141414;
}
body header {
  width: 100%;
  height: 595px;
  background-image: url(../image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid #222222;
}
body header nav {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header nav .logo img {
  width: 160px;
  height: 115px;
  margin-left: 20px;
}
body header nav .right-navbar {
  width: 230px;
  height: 50px;
  padding: 10px;
  margin: 0 20px 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body header nav .right-navbar .select-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background: black;
  position: relative;
  border-color: white;
  border-radius: 4px;
}
body header nav .right-navbar .select-box i {
  position: absolute;
  left: 5px;
  color: white;
}
body header nav .right-navbar .select-box select {
  width: 250px;
  height: 40px;
  outline: none;
  background: black;
  border-color: darkgray;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 400;
  text-indent: 20px;
  color: white;
}
body header nav .right-navbar button {
  width: 90px;
  height: 38px;
  margin-top: 2px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  background-color: red;
  color: white;
  cursor: pointer;
}
body header .card-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header .card-one h1 {
  width: 700px;
  height: 140px;
  font-size: 45px;
  text-align: center;
  padding: 30px 100px;
  color: white;
}
body header .card-one p {
  color: white;
  padding: 10px 20px 20px 20px;
}
body header .card-one .p-1 {
  font-size: 28px;
}
body header .card-one .p-2 {
  font-size: 20px;
}
body header .card-one .card-one-mailbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 670px;
}
body header .card-one .card-one-mailbox input {
  width: 500px;
  height: 55px;
  text-indent: 20px;
  font-size: 14px;
}
body header .card-one .card-one-mailbox button {
  width: 240px;
  height: 55px;
  font-size: 22px;
  font-weight: 200;
  border-radius: 2px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}
body section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 2000px;
  border-bottom: 5px solid #222222;
}
body section .section-card-one {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 800px;
  margin: 20px;
  padding: 20px;
  border-bottom: 5px solid #222222;
}
body section .section-card-one .section-card-one-title {
  width: 350px;
  height: 200px;
}
body section .section-card-one h1 {
  color: white;
  font-size: 35px;
  margin: 20px;
}
body section .section-card-one p {
  color: white;
  font-size: 18px;
  margin: 20px;
}
body section .section-card-two {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 800px;
  margin: 20px;
  padding: 20px;
  border-bottom: 5px solid #222222;
}
body section .section-card-two .section-card-two-title {
  width: 350px;
  height: 200px;
}
body section .section-card-two h1 {
  color: white;
  font-size: 35px;
  padding: 20px;
  margin-top: -30px;
}
body section .section-card-two p {
  color: white;
  font-size: 18px;
  padding: 20px;
}
body section .section-card-three {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 800px;
  margin: 20px;
  padding: 20px;
  border-bottom: 5px solid #222222;
}
body section .section-card-three .section-card-three-title {
  width: 350px;
  height: 200px;
}
body section .section-card-three h1 {
  color: white;
  font-size: 35px;
  padding: 20px;
  margin-top: -30px;
}
body section .section-card-three p {
  color: white;
  font-size: 18px;
  padding: 20px;
}
body section .section-card-four {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 800px;
  margin: 20px;
  padding: 20px;
  border-bottom: 5px solid #222222;
}
body section .section-card-four .section-card-four-title {
  width: 350px;
  height: 200px;
}
body section .section-card-four h1 {
  color: white;
  font-size: 35px;
  padding: 20px;
  margin-top: -30px;
}
body section .section-card-four p {
  color: white;
  font-size: 18px;
  padding: 20px;
}
body section .section-card-five {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 2000px;
  padding: 20px;
}
body section .section-card-five .section-card-five-title {
  width: 650px;
  height: 50px;
  margin-top: -5px;
}
body section .section-card-five h1 {
  color: white;
  font-size: 40px;
  margin-left: 50px;
}
body section .section-card-five .section-box {
  width: 520px;
  height: 330px;
  margin-top: 10px;
}
body section .section-card-five .section-box i {
  float: right;
  margin-top: 3px;
}
body section .section-card-five p {
  width: 500px;
  height: 50px;
  font-size: 20px;
  padding: 12px;
  margin: 4px;
  background-color: #222222;
  color: white;
}
body section .section-card-five .card-one-mailbox {
  width: 670px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body section .section-card-five .card-one-mailbox input {
  width: 500px;
  height: 55px;
  text-indent: 20px;
  font-size: 14px;
}
body section .section-card-five .card-one-mailbox button {
  width: 240px;
  height: 55px;
  font-size: 22px;
  font-weight: 200;
  border-radius: 2px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}
body section .section-card-five .membership {
  width: 550px;
  height: 20px;
  margin: 25px 0 0 35px;
  font-size: 16px;
  color: white;
}
body footer {
  width: 100%;
  height: 350px;
  padding: 20px;
}
body footer p {
  color: darkgray;
  margin: 20px 0 0 10px;
}
body footer .footer-main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 180px;
}
body footer .footer-main .footer ul {
  list-style-type: none;
  color: darkgray;
}
body footer .right-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
  height: 50px;
  padding: 10px;
  margin: 0 20px 10px 0;
}
body footer .right-navbar .select-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background: black;
  position: relative;
  border-color: white;
  border-radius: 4px;
}
body footer .right-navbar .select-box i {
  position: absolute;
  left: 5px;
  color: white;
}
body footer .right-navbar .select-box select {
  width: 250px;
  height: 40px;
  outline: none;
  background: black;
  border-color: darkgray;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 400;
  text-indent: 20px;
  color: white;
}
body footer .right-navbar button {
  width: 90px;
  height: 38px;
  margin-top: 2px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  background-color: red;
  color: white;
  cursor: pointer;
}
body .copyright {
  margin-left: 10px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
