
$w1: 100%;
$w2: 160px;
$w3: 250px;
$w4: 120px;
$w5: 700px;
$w6: 670px;
$w7: 500px;
$w8: 240px;
$w9: 800px;
$w10: 350px;
$w11: 650px;
$w12: 600px;
$w13: 480px;
$w14: 230px;
$w15: 520px;
$w16: 550px;
$w17: 100px;
$w18: 170px;
$w18: 90px;

$h1: 100vh;
$h2: 595px;
$h3: 120px;
$h4: 115px;
$h5: 50px;
$h6: 40px;
$h7: 140px;
$h8: 55px;
$h9: 800px;
$h10: 200px;
$h11: 350px;
$h12: 2000px;
$h13: 20px;
$h14: 180px;
$h15: 330px;
$h16: 38px;
$h17: 90px;

$s1: 16px;
$s2: 17px;
$s3: 45px;
$s4: 28px;
$s5: 20px;
$s6: 22px;
$s7: 14px;
$s8: 35px;
$s9: 18px;
$s10: 40px;

$m1: 0px;
$m2: 20px;
$m3: 4px;

$ml1: 20px;
$ml2: 50px;
$ml3: 10px;

$mt1: 2px;
$mt2: -30px;
$mt3: 10px;
$mt4: -5px;
$mt5: 3px;

$p1: 0px;
$p2: 10px;
$p3: 20px;
$p4: 12px;

$br1: 4px;
$br2: 2px;

$ti1: 20px

